.ind-header__block {
    &-arrow {
        position: fixed;
        left: 60px;
        bottom: 50px;
        cursor: pointer;
        z-index: 1000;
        transition: all 0.5s ease;
        animation: arrowDown 1.5s ease-in-out infinite;
    }
    &-list-item {
        &:nth-child(1) {
            position: fixed;
            top: 37px;
            left: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            z-index: 1000;
            width: 100%;
        }
        &:nth-child(2) {
            position: fixed;
            top: 37px;
            right: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            z-index: 1000;
        }
        &-description {
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 100%;
            color: #FDE3A7;
        }
        &-add {
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 100%;
            color: #FDE3A7;
        }
        &-phone {
            cursor: pointer;
            & a {
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 100%;
                color: #FDE3A7;
            }
        }
    }
    &-instagram {
        position: fixed;
        top: 50%;
        transform: translate(0%, -50%);
        left: 60px;
        cursor: pointer;
        z-index: 1000;
    }
    &-line {
        width: 2px;
        height: 421px;
        background: #FDE3A7;
        position: fixed;
        top: 50%;
        transform: translate(0%, -50%);
        right: 60px;
        cursor: pointer;
        z-index: 1000;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 115.95px;
            background: #9C4A38;
        }
    }
    &-test {
        position: fixed;
        right: 60px;
        bottom: 39px;
        cursor: pointer;
        z-index: 1000;
        &:hover {
            & a {
                opacity: 1;
                transition: all 0.5s ease;
            }
        }
        & a {
            transition: all 0.5s ease;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 100%;
            text-decoration-line: underline;
            color: #FDE3A7;
            opacity: 0.2;
        }
    }
}
.ind-headers {
    width: 100%;
    height: 100vh;
    position: relative;
    // background: url(../img/index/banner-1.png) no-repeat;
    // background-size: cover;
    display: flex;
    justify-content: center;
    &__bg {
        width: 100%;
        height: 100vh;
        position: absolute;
        background: url(../img/index/banner-1.png) no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        -webkit-filter: brightness(30%);
        z-index: -5;
    }
    &__block {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 980px;
        &-wrapper {
            position: absolute;
            top: 38px;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 720px;
        }
        &-title {
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 41px;
            line-height: 111%;
            color: #FDE3A7;
            text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
            position: absolute;
            margin: 0 0 0 -25px;
            top: 30%;
            left: 25px;
            &::after {
                content: "подобор авто";
                position: absolute;
                top: -30px;
                left: 0;
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 130%;
                letter-spacing: 0.075em;
                text-transform: uppercase;
                color: #9C4A38;
            }
            &::before {
                content: "Подберем лучший авто с прбегом в вашем ценовом сегменте, с горантией технической исправности";
                position: absolute;
                bottom: -120px;
                left: 0;
                font-family: TT Norms;
                width: 253px;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 130%;
                color: #FDE3A7;
                text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
            }
        }
        &-quiz {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: absolute;
            top: 53%;
            right: 0;
            &-list {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                &:nth-child(4) {
                    & .ind-headers__block-quiz-list-wrapper {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        gap: 12px 0;
                    }
                }
                &:nth-child(5) {
                    .ind-headers__block-quiz-item p {
                        font-size: 12px;
                    }
                }
                &-text {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 89%;
                    color: #FDE3A7;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
                &-add {
                    margin: 44px 0 0 0;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 130%;
                    color: #7E7E7E;
                }
                &-title {
                    margin: 17px 0 0 0;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 89%;
                    color: #FDE3A7;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
                &-wrapper {
                    margin: 36px 0 0 0;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                }
            }
            &-input {
                width: 260px;
                height: 73px;
                background: #FDE3A7;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 89%;
                text-align: center;
                color: #000000;
                margin: 0 12px 0 0;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                position: relative;
                padding: 0 0 0 27px;
                & input {
                    width: 100%;
                    height: 73px;
                    background: #FDE3A7;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 89%;
                    text-align: left;
                    color: #000000;
                    &::placeholder {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 89%;
                        text-align: left;
                        color: #000000;
                        opacity: 0.5;
                        text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
                    }
                }
            }
            &-inputs {
                width: 260px;
                height: 73px;
                background: #FDE3A7;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                margin: 0 12px 0 0;
                transition: all 0.5s ease;
                cursor: pointer;
                & input[type="radio"] {
                    display: none;
                }
                & p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 89%;
                    text-align: center;
                    color: #202020;
                    text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
                    transition: all 0.5s ease;
                }
                &:hover {
                    transition: all 0.5s ease;
                    background: #000000;
                    & p {
                        transition: all 0.5s ease;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 89%;
                        text-align: center;
                        color: #FDE3A7;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }
                &-line {
                    width: 100%;
                    height: 0px;
                    border-top: 3px solid #9C4A38;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
            &-item {
                width: 148px;
                height: 73px;
                background: #FDE3A7;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                margin: 0 12px 0 0;
                transition: all 0.5s ease;
                cursor: pointer;
                & input[type="radio"] {
                    display: none;
                }
                & p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 89%;
                    text-align: center;
                    color: #202020;
                    text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
                    transition: all 0.5s ease;
                }
                &:hover {
                    transition: all 0.5s ease;
                    background: #000000;
                    & p {
                        transition: all 0.5s ease;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 89%;
                        text-align: center;
                        color: #FDE3A7;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }
                &-line {
                    width: 100%;
                    height: 0px;
                    border-top: 3px solid #9C4A38;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
}
.ind-description {
    padding: 150px 0 80px 0;
    width: 100%;
    height: 100%;
    &__media {
        display: none;
    }
    &__text {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        &-photo {
            position: relative;
            margin: 0 55px 0 0;
            z-index: -5;
            &-item {
                z-index: 2;
                width: 399px;
                height: 480px;
                margin: 0 0 0 80px;
                & img {
                    z-index: 2;
                }
            }
            &-add {
                z-index: -1;
                position: absolute;
                top: -50px;
                left: 0;
                & img {
                    z-index: -1;
                }
            }
        }
        &-block {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 0 auto 0 0;
            &-add {
                margin: 20px 0 0 0;
                font-family: TT Norms;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 130%;
                letter-spacing: 0.075em;
                text-transform: uppercase;
                color: #9C4A38;
            }
            &-title {
                margin: 41px 0 0 0;
                font-style: normal;
                font-weight: normal;
                font-size: 37px;
                width: 135%;
                line-height: 100%;
                color: #FDE3A7;
            }
            &-text {
                margin: 39px 0 0 0;
                width: 330px;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 130%;
                color: #FDE3A7;
            }
            &-btn {
                margin: 49px 0 0 0;
                width: 259px;
                height: 48px;
                background: #9C4A38;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                & a {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 130%;
                    text-align: center;
                    color: #FDE3A7;
                }
            }
        }
    }
    &__icons {
        margin: 110px 0 0 0;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    &__process {
        position: relative;
        margin: 130px 0 0 0;
        height: 523px;
        padding: 230px 0 0 0;
        width: 100%;
        &-wrapper {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            position: relative;
            &::after {
                content: "Статистика вторичного рынка авто из открытых источников";
                position: absolute;
                top: -163px;
                left: 0;
                width: 570px;
                height: 82px;
                font-style: normal;
                font-weight: normal;
                font-size: 37px;
                line-height: 110%;
                color: #FDE3A7;
            }
        }
        &-item {
            z-index: 3;
            width: 145px;
            height: 145px;
            position: relative;
            &:nth-child(2) {
                & p {
                    margin: 0 0 0 -30px;
                }
            }
            &:nth-child(3) {
                & p {
                    margin: 0 0 0 -50px;
                }
            }
            &:nth-child(4) {
                & p {
                    margin: 0 0 0 -10px;
                }
            }
            &-circle {
                position: relative;
            }
            & h3 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-style: normal;
                font-weight: normal;
                font-size: 26px;
                line-height: 130%;
                letter-spacing: 0.075em;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            & p {
                position: absolute;
                bottom: -56px;
                width: 190%;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 130%;
                color: #FDE3A7;
            }
        }
        &-bg {
            width: 100%;
            height: 523px;
            position: absolute;
            top: 0;
            left: 0;
            background: url("../img/index/description-bg.png") no-repeat;
            background-size: cover;
            -webkit-filter: brightness(30%);
            z-index: -5;
        }
    }
}
.ind-constructor {
    position: relative;
    padding: 0 0 140px 0;
    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        &-add {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 130%;
            letter-spacing: 0.075em;
            text-transform: uppercase;
            color: #9C4A38;
        }
        &-title {
            margin: 33px 0 0 0;
            width: 384px;
            font-style: normal;
            font-weight: normal;
            font-size: 37px;
            line-height: 100%;
            color: #FDE3A7;
        }
        &-wrapper {
            margin: 67px 0 0 0;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
        }
        &-img {
            margin: -40px 0 0 0;
        }
    }
}
.ind-constructor__content-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 27px;
    grid-auto-flow: row;
    grid-template-areas:
    "constItem-1 constItem-1 constItem-2 constItem-2 constItem-3 constItem-3"
    "constItem-4 constItem-4 constItem-4 constItem-5 constItem-5 constItem-5"
    "constItem-6 constItem-6 constItem-7 constItem-7 constItem-8 constItem-8"
    "constItem-9 constItem-9 constItem-9  constItem-10 constItem-10 constItem-10"
    "constItem-11 constItem-11 constItem-12 constItem-12 constItem-13 constItem-13"
    ;
}
.ind-constructor__content-block-item {
    cursor: pointer;
    &-active {
        background: #FDE3A7 !important;
        border: none !important;
        font-style: normal;
        font-weight: 500 !important;
        font-size: 13px;
        line-height: 130%;
        text-align: center;
        color: #9C4A38 !important;
    }
    &:nth-child(1) {
        grid-area: constItem-1;
        width: 99px;
        height: 48px;
        border: 1px solid #FFFFFF;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 130%;
        color: #FDE3A7;
    }
    &:nth-child(2) {
        grid-area: constItem-2;
        width: 99px;
        height: 48px;
        border: 1px solid #FFFFFF;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 130%;
        color: #FDE3A7;
    }
    &:nth-child(3) {
        grid-area: constItem-3;
        width: 99px;
        height: 48px;
        border: 1px solid #FFFFFF;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 130%;
        color: #FDE3A7;
    }
    &:nth-child(4) {
        grid-area: constItem-4;
        width: 162px;
        height: 48px;
        border: 1px solid #FFFFFF;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 130%;
        color: #FDE3A7;
    }
    &:nth-child(5) {
        grid-area: constItem-5;
        width: 162px;
        height: 48px;
        border: 1px solid #FFFFFF;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 130%;
        color: #FDE3A7;
    }
    &:nth-child(6) {
        grid-area: constItem-6;
        width: 99px;
        height: 48px;
        border: 1px solid #FFFFFF;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 130%;
        color: #FDE3A7;
    }
    &:nth-child(7) {
        grid-area: constItem-7;
        width: 99px;
        height: 48px;
        border: 1px solid #FFFFFF;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 130%;
        color: #FDE3A7;
    }
    &:nth-child(8) {
        grid-area: constItem-8;
        width: 99px;
        height: 48px;
        border: 1px solid #FFFFFF;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 130%;
        color: #FDE3A7;
    }
    &:nth-child(9) {
        grid-area: constItem-9;
        width: 162px;
        height: 48px;
        border: 1px solid #FFFFFF;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 130%;
        color: #FDE3A7;
    }
    &:nth-child(10) {
        grid-area: constItem-10;
        width: 162px;
        height: 48px;
        border: 1px solid #FFFFFF;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 130%;
        color: #FDE3A7;
    }
    &:nth-child(11) {
        grid-area: constItem-11;
        width: 99px;
        height: 48px;
        border: 1px solid #FFFFFF;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 130%;
        color: #FDE3A7;
    }
    &:nth-child(12) {
        grid-area: constItem-12;
        width: 99px;
        height: 48px;
        border: 1px solid #FFFFFF;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 130%;
        color: #FDE3A7;
    }
    &:nth-child(13) {
        grid-area: constItem-13;
        width: 99px;
        height: 48px;
        border: 1px solid #FFFFFF;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 130%;
        color: #FDE3A7;
    }
}
.ind-add {
    position: relative;
    &__info {
        position: relative;
        & .containers {
            display: flex;
            align-items: flex-start;
            width: 100%;
            justify-content: space-between;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -5;
            width: 100%;
            height: 625px;
            background: url("../img/index/add-bg.png") no-repeat;
            background-size: cover;
            -webkit-filter: brightness(30%);
        }
        &-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            &-add {
                margin: 62px 0 0 0;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 130%;
                letter-spacing: 0.075em;
                text-transform: uppercase;
                color: #9C4A38;
            }
            &-title {
                margin: 33px 0 0 0;
                font-style: normal;
                font-weight: normal;
                font-size: 37px;
                line-height: 100%;
                color: #FDE3A7;
            }
            &-item {
                margin: 60px 0 0 0;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 130%;
                color: #FDE3A7;
            }
        }
        &-add {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 159px 105px 0 0;
            &-circle {
                position: relative;
                width: 143px;
                height: 143px;
                & h3 {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-style: normal;
                    font-weight: bold;
                    font-size: 31px;
                    line-height: 130%;
                    letter-spacing: 0.075em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }
            &-text {
                margin: 44px 0 0 0;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 130%;
                color: #FDE3A7;
                & span {
                    font-size: 19px;
                    font-weight: 800;
                }
            }
            &-btn {
                margin: 44px 0 0 0;
                width: 259px;
                height: 48px;
                background: #9C4A38;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                display: flex;
                align-items: center;
                cursor: pointer;
                justify-content: center;
                & a {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 130%;
                    text-align: center;
                    color: #FDE3A7;
                }
            }
        }
    }
    &__catalog {
        margin: 295px 0 0 0;
        padding: 0 0 175px 0;
        & .containers {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
        &-text {
            display: flex;
            width: 100%;
            align-items: flex-start;
            justify-content: space-between;
            &-title {
                font-style: normal;
                font-weight: normal;
                font-size: 37px;
                line-height: 110%;
                color: #FDE3A7;
            }
            &-item {
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                margin: 0 -11px 0 0;
                line-height: 130%;
                color: #FDE3A7;
            }
        }
        &-wrapper {
            margin: 90px 0 0 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 26px;
        }
        &-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: relative;
            z-index: -5;
            &:nth-child(1) {
                & .ind-add__catalog-item-circle {
                    position: absolute;
                    top: 197px;
                    left: 117px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: #9C4A38;
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 70px;
                    left: 30px;
                    width: 0;
                    height: 93px;
                    border-left: 2px dashed #9C4A38;
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 162px;
                    left: 30px;
                    width: 87px;
                    height: 0;
                    border-top: 2px dashed #9C4A38;
                }
            }
            &:nth-child(2) {
                & .ind-add__catalog-item-circle {
                    position: absolute;
                    top: 111px;
                    left: 186px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: #9C4A38;
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 70px;
                    left: 30px;
                    width: 0;
                    height: 179px;
                    border-left: 2px dashed #9c4a38;
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 246px;
                    left: 30px;
                    width: 157px;
                    height: 0;
                    border-top: 2px dashed #9C4A38;
                }
            }
            &:nth-child(3) {
                & .ind-add__catalog-item-circle {
                    position: absolute;
                    top: 159px;
                    left: 117px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: #9C4A38;
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 70px;
                    left: 30px;
                    width: 0;
                    height: 128px;
                    border-left: 2px dashed #9C4A38;
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 197px;
                    left: 30px;
                    width: 97px;
                    height: 0;
                    border-top: 2px dashed #9C4A38;
                }
            }
            &:nth-child(4) {
                & .ind-add__catalog-item-circle {
                    position: absolute;
                    top: 119px;
                    left: 43px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: #9C4A38;
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 70px;
                    left: 30px;
                    width: 0;
                    height: 170px;
                    border-left: 2px dashed #9C4A38;
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 238px;
                    left: 30px;
                    width: 20px;
                    height: 0;
                    border-top: 2px dashed #9C4A38;
                }
            }
            &:nth-child(5) {
                & .ind-add__catalog-item-circle {
                    position: absolute;
                    top: 197px;
                    left: 117px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: #9C4A38;
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 70px;
                    left: 30px;
                    width: 0;
                    height: 93px;
                    border-left: 2px dashed #9C4A38;
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 162px;
                    left: 30px;
                    width: 87px;
                    height: 0;
                    border-top: 2px dashed #9C4A38;
                }
            }
            &:nth-child(6) {
                & .ind-add__catalog-item-circle {
                    position: absolute;
                    top: 197px;
                    left: 117px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: #9C4A38;
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 70px;
                    left: 30px;
                    width: 0;
                    height: 93px;
                    border-left: 2px dashed #9C4A38;
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 162px;
                    left: 30px;
                    width: 87px;
                    height: 0;
                    border-top: 2px dashed #9C4A38;
                }
            }
            &-img {
                width: 308px;
                height: 280px;
                background: #fff;
                object-fit: cover;
                display: flex;
                align-items: center;
                justify-content: center;
                & img {
                    object-fit: cover;
                }
            }
            &-content {
                margin: 19px 0 0 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 308px;
                height: 70px;
                background: #1C1C1C;
                border: 2px dashed #9C4A38;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 130%;
                color: #FDE3A7;
            }
        }
        &-btns {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 57px 0 0 0;
        }
        &-btn {
            width: 308px;
            height: 48px;
            background: #9C4A38;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 0 0 52px;
            position: relative;
            cursor: pointer;
            & a {
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 130%;
                color: #FDE3A7;
            }
            &::after {
                content: url(../svg/index/check-list.svg);
                position: absolute;
                top: 10px;
                right: 30px;
            }
        }
    }
}
.ind-catalog {
    position: relative;
    width: 100%;
    padding: 96px 0 132px 0;
    &__title {
        width: 100%;
        text-align: left;
        font-style: normal;
        font-weight: normal;
        font-size: 37px;
        line-height: 110%;
        color: #FDE3A7;
    }
    &__media {
        margin: 62px 0 0 0;
        display: none;
        & .swiper-slide {
            display: flex;
            justify-content: center;
        }
        & .swiper-pagination {
            bottom: 400px;
            z-index: -5;
        }
        & .swiper-button-prev {
            left: 635px;
            right: auto;
            top: 867px;
            content: url(../svg/index/arrow-prev-media.svg);
        }
        & .swiper-button-next {
            right: 635px;
            left: auto;
            top: 867px;
            content: url(../svg/index/arrow-next-media.svg);
        }
        & .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            background: #FFFFFF;
            border-radius: 0;
            opacity: 1;
        }
        & .swiper-pagination-bullet-active {
            width: 10px;
            height: 10px;
            background: #9C4A38;
            border-radius: 0;
            opacity: 1;
        }
    }
    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 72px 0 0 0;
        &-item {
            width: 308px;
            height: 625px;
            border: 2px solid #9C4A38;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            padding: 30px 0 0 28px;
        }
        &-title {
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 110%;
            color: #FDE3A7;
        }
        &-text {
            margin: 43px 0 0 0;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 130%;
            color: #FDE3A7;
        }
        &-price {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 54px 0 0 0;
            &-last {
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                line-height: 110%;
                color: #FDE3A7;
            }
            &-prev {
                margin: 0 0 0 26px;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 110%;
                text-decoration-line: line-through;
                color: #FDE3A7;
                opacity: 0.5;
            }
        }
        &-btn {
            margin: 46px 0 0 0;
            width: 259px;
            height: 48px;
            background: #9C4A38;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            display: flex;
            align-items: center;
            justify-content: center;
            & a {
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 130%;
                color: #FDE3A7;
            }
        }
    }
    &__add {
        margin: 44px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        &-item {
            width: 100%;
            height: 278px;
            border: 1px solid #9C4A38;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 32px 0 0 31px;
        }
        &-title {
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 110%;
            color: #FDE3A7;
            width: 300px;
            height: 100px;
        }
        &-text {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 33px 27px;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 130%;
            color: #FDE3A7;
            margin: 0 0 0 -135px;
        }
        &-price {
            padding: 15px 0 0 0;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            width: 300px;
            margin: 0 0 0 -135px;
            grid-area: 2 / 2;
            &-last {
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                line-height: 110%;
                color: #FDE3A7;
            }
            &-prev {
                margin: 0 0 0 30px;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 110%;
                text-decoration-line: line-through;
                color: #FDE3A7;
                opacity: 0.5;
            }
        }
        &-btn {
            width: 259px;
            height: 48px;
            background: #9C4A38;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            display: flex;
            align-items: center;
            justify-content: center;
            & a {
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 130%;
                color: #FDE3A7;
            }
        }
    }
}
.ind-slider {
    width: 100%;
    height: 100%;
    position: relative;
    height: 897px;
    padding: 118px 0 0 0;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 897px;
        width: 100%;
        background: url(../img/index/slider-bg.png) no-repeat;
        background-size: 100%;
        -webkit-filter: brightness(30%);
        z-index: -5;
    }
    &__wrapper {
        & .swiper {
            z-index: -5;
        }
        & .swiper-button-next {
            right: 590px;
            left: auto;
            top: 801px;
            content: "";
            display: flex;
            align-items: center;
            justify-content: center;
            color: transparent;
            width: 50px;
            height: 50px;
            &-arrow {
                content: url(../svg/index/arrow-next.svg);
                cursor: pointer;
            }
        }
        & .swiper-button-prev {
            left: 615px;
            right: auto;
            top: 801px;
            cursor: pointer;
            content: "";
            display: flex;
            align-items: center;
            justify-content: center;
            color: transparent;
            width: 50px;
            height: 50px;
            &-arrow {
                content: url(../svg/index/arrow-prev.svg);
                cursor: pointer;
            }
        }
        & .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            background: #FDE3A7;
            opacity: 1;
        }   
        & .swiper-pagination-bullet-active {
            width: 8px;
            height: 8px;
            background: #9C4A38;
            opacity: 1;
        }
        & .swiper-pagination {
            bottom: 85px;
            z-index: 0;
        }
        & .swiper-slide {
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            height: 625px;
        }
        &-text { 
            position: absolute;
            top: 0;
            left: 0;
            &-title {
                font-style: normal;
                font-weight: normal;
                font-size: 37px;
                line-height: 110%;
                color: #FDE3A7;
            }
            &-item {
                margin: 50px 0 0 0;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 130%;
                color: #FDE3A7;
            }
        }
        &-block {
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            &-img {
                -webkit-filter: brightness(45%);
            }
            &-info {
                width: 308px;
                height: 613px;
                background: #1C1C1C;
                &-title {
                    margin: 30px 0 0 29px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 110%;
                    color: #FDE3A7;
                }
                &-text {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    margin: 30px 0 0 29px;
                }
                &-item {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 130%;
                    color: #9C4A38;
                    margin: 12px 0 0 0;
                    &:nth-child(1) {
                        margin: 0;
                    }
                    & span {
                        color: #FDE3A7;
                    }
                }
            }
        }
    }
}
.ind-form {
    width: 100%;
    padding: 86px 0 122px 0;
    &__block {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        &-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            &-add {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 130%;
                letter-spacing: 0.075em;
                text-transform: uppercase;
                color: #9C4A38;
            }
            &-title {
                margin: 33px 0 0 0;
                font-style: normal;
                font-weight: normal;
                font-size: 37px;
                line-height: 100%;
                color: #FDE3A7;
            }
            &-item {
                margin: 55px 0 0 0;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 130%;
                color: #FDE3A7;
                & span {
                    font-size: 19px;
                    font-weight: 700;
                }
            }
            &-photo {
                position: relative;
                margin: 91px 0 0 40px;
                width: 399px;
                height: 263px;
                z-index: -5;
                &-add {
                    position: absolute;
                    top: -35px;
                    left: -40px;
                    z-index: -1;
                }
            }
        }
        &-input {
            width: 438px;
            padding: 40px 0 0 0;
            &-btn {
                margin: 36px 0 0 0;
                width: 259px;
                height: 48px;
                background: #9C4A38;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                & a {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 130%;
                    color: #FDE3A7;
                }
            }
            &-text {
                width: 500px;
                margin: 36px 0 0 0;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 130%;
                color: #FDE3A7;
                & span {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}
.ind-form__block-input-wrapper {
    position: relative;
    width: 100%;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: #FDE3A7;
    opacity: 0.5;
    margin: 35px 0 0 0;
    &:nth-child(1) {
        margin: 0;
    }
}
.ind-form__block-input-wrapper input,
.ind-form__block-input-wrapper.textarea textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}
.ind-form__block-input-wrapper .ind-form__block-input-text {
    position: absolute;
    top: -35px;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    display: block;
    transition: all .5s ease-in-out;
    pointer-events: none;
}
.ind-form__block-input-wrapper input:focus + .ind-form__block-input-text,
.ind-form__block-input-wrapper input:valid + .ind-form__block-input-text {
    top: -70px;
    left: -10px;
    padding: 0 10px;
}
.ind-form__block-input-wrapper .ind-form__block-input-line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #FDE3A7;
    transition: all .5s ease-in-out;
    border-radius: 2px;
    pointer-events: none;
}
.ind-form__block-input-wrapper input:focus ~ .ind-form__block-input-line,
.ind-form__block-input-wrapper input:valid ~ .ind-form__block-input-line {
    height: 100%;
}
.ind-form__block-input-wrapper.textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}
.ind-form__block-input-wrapper.textarea textarea {
    height: 100%;
    resize: none;
}
.ind-form__block-input-wrapper textarea:focus + .ind-form__block-input-text,
.ind-form__block-input-wrapper textarea:valid + .ind-form__block-input-text {
    top: -35px;
    left: -10px;
}
.ind-form__block-input-wrapper textarea:focus ~ .ind-form__block-input-line,
.ind-form__block-input-wrapper textarea:valid ~ .ind-form__block-input-line {
    height: 100%;
}
.ind-footer {
    width: 100%;
    &__block {
        width: 100%;
        position: relative;
        padding: 70px 0 0 0;
        & .containers {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: relative;
            padding: 0 230px 82px 230px;
        }
        &-up {
            width: 33px;
            height: 33px;
            background: #9C4A38;
            border-radius: 16.5px;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            & a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 33px;
                height: 33px;
            }
        }
        &-title {
            width: 100%;
            font-style: normal;
            font-weight: normal;
            font-size: 37px;
            line-height: 100%;
            color: #FDE3A7;
            position: relative;
        }
        &-info {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 63px 0 0 0;
            width: 100%;
            &-phone {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                &-title {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 130%;
                    color: #9C4A38;
                }
                &-item {
                    margin: 17px 0 0 0;
                    & a {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 17px;
                        line-height: 130%;
                        color: #FDE3A7;
                    }
                }
            }
            &-email {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin: 0 0 0 102px;
                &-title {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 130%;
                    color: #9C4A38;
                }
                &-item {
                    margin: 17px 0 0 0;
                    & a {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 17px;
                        line-height: 130%;
                        color: #FDE3A7;
                    }
                }
            }
            &-address {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin: 0 0 0 101px;
                &-title {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 130%;
                    color: #9C4A38;
                }
                &-item {
                    margin: 17px 0 0 0;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 130%;
                    color: #FDE3A7;
                }
            }
        }
        &-map {
            margin: 64px 0 0 0;
            width: 100%;
            height: 393px;
            background: gray;
            & iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
    &__add {
        width: 100%;
        height: 78px;
        & .containers {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-rights {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: -0.204545px;
            color: #FDE3A7;
            opacity: 0.6;
        }
        &-instagram {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 0 50px;
            & a {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            & p {
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: -0.204545px;
                color: #FDE3A7;
                opacity: 0.6;
                margin: 0 0 0 22px;
            }
        }
        &-create {
            & a {
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: -0.204545px;
                color: #FDE3A7;
                opacity: 0.6;
            }
        }
    }
}
// font-family: TT Norms;

@keyframes arrowDown {
    0% {
        transform: translate(0, 0);
        transition: all 0.5s ease;
    }
    50% {   
        transform: translate(0, 15px);
        transition: all 0.5s ease;
    }
    100% {
        transform: translate(0, 0);
        transition: all 0.5s ease;
    }
}